/*Code for responsive image (".responsive-image" found at w3schools: https://www.w3schools.com/css/css_rwd_images.asp*/
            
/*          li a:hover {*/
/*    background-color: #111;*/
/*}*/
body {
     background-color: white;
     
}
h2 {
     color: white;
     font-size: 40px;
     padding-top: 30px;
}

h3 {
    color: #2498f4;
    font-family: sans-serif;
    font-size: 35px;
    margin-top: 15px;
    padding-top: 15px;
}
p {
    font-family: sans-serif;
}
.top-nav {
    background-color: #2190e8;
    min-height: 20px;
}

ul {
     margin: 0px;
     width: 100%;
     list-style-type: none;
     padding: 0px;
     text-align: center;
      
}
li {
     
      display: inline-block;
}

.top-nav-font {
    font-family: sans-serif;
    color: white;
}

.left {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.right {
    float: right;
}

#diagonal {
    height: 110px;
    width: 100%;
}




/*MAIN NAVIGATION*/
#green-dashboard {
    width: 100%;
    height: 90px;
    margin-top: 20px;
    background-color: #33cc66;
    border-radius: 7px;
    margin-bottom: 0px;

}

.marker {
     margin-bottom: 0px;
     margin-left: 725px;
}

.border {
     border-width: 1px;
     color: lightgray;

}
.top-margin {
     margin-top: 80px;
}
/*#gradient {*/
/*    height: 100px;*/
/*    width: 100%;*/
/*    margin-top: 20px;*/
/**/
/*}*/

.whitebox {
    min-height: 20%;
    width: 35%;
    background-color: white;
    border-radius: 2px;
    float: right;
    padding-bottom: 50%;
    border: 2px #2db55b;
}

.search-icon {
    background: url('../images/sprites.png');
    background-position: -1086px -1672px; 
     width: 23px;
     height: 22px;
     float: right;
     padding-top: 25px;
}
.search-bar {
     padding-top: 20px;
}

.gear {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.question-mark {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    vertical-align: middle;
    padding-right: 20px;
    border-right: 1px #166db1 solid;
}

/*Alexis Help: ".background" learned that I have to put the attributes from my generator.css into my styles.css for the sprite to appear*/
.background {
    background: url('../images/background.png') no-repeat;
    min-height: 200px;
    background-size: 100% 210px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

.dashboard-icon {
    margin-left: 27%;
    width: 81px;
    height: 87px;
    background-position: -5px -102px;

}

.customers {
    margin-left: 50%;
    width: 81px;
    height: 87px;
    background-position: -187px -5px;
}

.messages {
    margin-left: 20%;
    width: 81px;
    height: 87px;
    background-position: -96px -102px;
}

.promotions {
    margin-left: 20%;
    width: 81px;
    height: 87px;
    background-position: -187px -102px;
}

.page {
    margin-left: 20%;
    width: 81px;
    height: 87px;
    background-position: -96px -5px;
}



.analytics {
    margin-left: 20%;
    width: 81px;
    height: 87px;
    background-position: -5px -5px;
}

.top-nav-gear {
    background: url('../images/sprites.png');
    background-position: -1176px -1655px;
    width: 23px;
    height: 22px;
    }


.question {
     background: url('../images/sprites.png');
     background-position: -1058px -1672px;
     width: 27px;
     height: 22px;
}

.general-border {
    border-style: solid;
    border-width: 2px;
    color: #eeeeee;
}
#gradient-background {
    background-image: url('../images/gradient.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    border-radius: 10px;
    margin-top: 7px;
    
}

.nav-button-style {
    background: url('../images/sprites.png');
    background-position: -1133px -1672px;
    width: 22px;
    height: 22px; 
}
.nav-button2-style {
    background: url('../images/sprites.png');
    background-position: -1167px -2042px;
    width: 22px;
    height: 22px;
}

.tasks-text {
    font-size: 25px;
    margin: 25px;
}

.task-one-style {
    background: url('../images/sprites.png');
    background-position: -1165px -1603px;
    width: 36px;
    height: 30px; 
}

.task-two-style {
    background: url('../images/sprites.png');
    background-position: -1135px -1991px; width: 36px; height: 30px; 
}

.task-three-style {
    background: url('../images/sprites.png');
    background-position: -1144px -1699px;
    width: 36px;
    height: 30px; 
}

.task-four-style {
    background: url('../images/sprites.png');
    background-position: -1165px -1572px;
    width: 36px;
    height: 30px;
}

.task-blue36-style {
    background: url('../images/sprites.png');
    background-position: -1138px -1751px;
    width: 60px;
    height: 30px; 
}
.task-gray-hover-style {
    background: url('../images/sprites.png');
    background-position: -1005px -1933px;
    width: 72px;
    height: 44px; 
}
.task-blue3-style {
    background: url('../images/sprites.png');
    background-position: -1130px -1803px;
    width: 72px;
    height: 44px;
    
}
.analytics-photo-style {
    background: url('../images/sprites.png');
    background-position: -602px -1699px;
    width: 420px;
    height: 187px; 
}

/*ANALYTICS*/
.pie {
     background: url('../images/pie-graph.png');
     background-repeat: no-repeat;
     height: 240px;
     margin-top: 40px;
    
}
.channels-word {
     margin-top: 0px;
     text-align: center;
     color: gray;
}
.referrals-word {
     text-align: center;
     color: gray;
     margin-top: 105px;
}
/*Social media under photo*/

.unchecked-style {
     margin-right: 10px;
     margin-left: 10px;
}
.socialmedia-text {
    color: white;
    text-align: center;
    font-size: 15px;
    width: 90px;
    height: 20px;

}
.social-media-row {
     margin-top: 20px;
     margin-left: 50px;
     padding: 20px;
    

}
.facebook {
     background-color: #114570;
     border-radius:4px;
     
}

.twitter {
     background-color: #2298f4;
       border-radius:4px;
}

.foursquare {
     background-color: #3a599b;
       border-radius:4px;
     
}
.google {
     background-color: #31cc66;
       border-radius:4px;
}

.inline {
   display: inline;
}
.testred {
    background-color: red;
}
.photo {
    width: 95%;
    height: 250px;
    padding: 0px;
    margin-left: 35px;
    margin-top: 40px;
}

.pie-style {
     margin: 0px;
     padding: 0px;
     margin-top: 40px;
}

.tinyfont {
    font-size: 15px;
    color: #777777;
   margin-left: 10px;
}

.dropdown-form {
     padding: 5px;
     width: 60%;
     font-size: 18px;
}

.drop-down-arrow-style {
     background: url('../images/sprites.png');
     background-position: -1135px -2022px;
     width: 31px;
     height: 30px;
}








/*Css Below is for Search box. Code modified. Original found at: https://codepen.io/huange/pen/rbqsD*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
  position: relative;
  min-height: 40px;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #2db55b;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #2498f4;
}

/*#searchButton {*/
/*    */
/*}*/
.searchButton {
  position: absolute;  
  right: -2px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 20px;
    background-image: url('../images/search.png');
  background-position: -1086px -1672px; width: 23px; height: 22px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 90%;
  position: absolute;
  min-height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*     Container Row 1: Announcements, etc.*/

#first-row {
     padding-top: 60px;




/*TASKS CLASSES*/

.tasks-row-1 {
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 0px;

}

.tasks-row-list {
    display: block;
    width: 100%;
     list-style: none;
     margin: 0px;
     padding: 0px;
}
.tasks-gear-style {
     margin-top: 40px;
   
}
#border-no-top



/*RECOMMENDATIONS*/
.recommendations-list {
     margin: 0px;
     color: white;
}
.dashed-border {
     border-bottom: dashed;
     border-color: lightgray;
     border-width: 2px;
}


/*CONTACTS+CUSTOMERS*/

.orange-chart-style {
     text-align: center;
     width: 10px;
     height: 150px;
     margin-top: 20px;
}

}
     
     #large-white-box {
          margin-top: 30px;
          background-color: white;
          border: solid;
          border-width: 1px;
          border-color: lightgray;
     }
/*     Avatar Boxes: Contacts and Customers*/
/*Contacts: Box-shadow code from w3schools: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_box-shadow*/

.avatar-whitebox-style1 {
     background-color: white;
     padding: 2px;
     min-height: 250px;
    width: 300px;
    box-shadow: 3px 5px 4px #888888;
    border-radius: 4px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.avatar-whitebox-style2 {
     background-color: white;
     padding: 2px;
     margin-right: 20px;
     margin-left: 20px;
     margin-top: 80px;
    min-height: 250px;
    width: 300px;
    box-shadow: 3px 5px 4px #888888;
    border-radius: 4px;
    float: right;
     margin-bottom: 50px;
}
     
 .orange-avatar {
     align-content: center;
     width: 30%;
     height: 40%;
     margin-left: 100px;
 }
  .green-avatar-style {
     align-content: center;
     width: 30%;
     height: 40%;
     margin-left: 100px;
 }
 
 .green-chart-style {
     text-align: center;
     
 }

#customers-width {
     width: 100%;
}
.blue-banner {
     background-color: #2190e8;
     height: 90px;
     width: 100%;
     color: white;
     text-align: center;
     padding-top: 8%;
     font-size: 30px;
     margin-top: 0px;
     
}

.blue-banner2 {
     background-color: #2190e8;
     height: 90px;
     width: 100%;
     color: white;
     text-align: center;
     font-size: 30px;
     margin-top: 0px;
     
}



/*DID YOU KNOW?*/
.blue-did-you-know {
     background-color: #2190e8;
     width: 100%;
     min-height: 150px;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-right: 20px;
     margin-left: 20px;
     border-radius: 5px;
}
.did-font {
     color: white;
     font-size: 15px;
     margin-left: 40px;
     margin-top: 20px;
}

.did-font2 {
     color: white;
     font-size: 15px;
     margin-left: 40px;
}
.did-chevrons {
     position: absolute;
     display: inline-block;
     margin-top: 40px;
}
.did-chevrons2 {
     margin-top: -138px;
     position: absolute;
     display: inline-block;
     margin-left: 695px;
}



/*ADVERTISMENTS*/
.blue-ad-background {
     background-color: #2498f4;
     height: 300px;
}

.friends {
     width: 268px;
     height: 171px;
     
}

.ad-whitebox {
     background-color: white;
     width: 400px;
     height: 800px;
}


/*FOOTER*/

.part-one {
     background-image: url('../images/footer-one.png');
     padding: 0px;
     height: 50px;
}

.part-two {
         background-image: url('../images/sweepstakes.png');
     padding: 0px;
      height: 50px;
     
}

.part-three {
         background-image: url('../images/social-media.png');
     padding: 0px;
      height: 50px;
     
}


.part-four {
         background-image: url('../images/log-on.png');
     padding: 0px;
      height: 50px;
     
}

.part-five {
         background-image: url('../images/footer-final.png');
     padding: 0px;
      height: 50px;
     
}